sendungsliste.dtd

<!ELEMENT sendungsliste (sender+)>
<!ELEMENT sender (sendername, sendung+)>
<!ELEMENT sendername (#PCDATA)>
<!ELEMENT sendung (sendungsname, genre, ausstrahlungszeit, ausstrahlungsdauer)>
<!ATTLIST sendung id ID #REQUIRED >
<!ELEMENT sendungsname (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT ausstrahlungszeit (#PCDATA)>
<!ELEMENT ausstrahlungsdauer (#PCDATA)>
