sendungsliste.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT sendungsliste (sender+)>
<!ELEMENT sender (sendername, sendungsname+)>
<!ELEMENT sendername (#PCDATA)>
<!ELEMENT sendung (name, genre, ausstrahlungszeit, ausstrahlungsdauer)>
<!ATTLIST sendungsname id ID CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT ausstrahlungszeit (#PCDATA)>
<!ELEMENT ausstrahlungsdauer (#PCDATA)>
